body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: chilanka;
  font-size: 16px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: chilanka;
}
h1 {
  color: #4169E1;
  font-size: 40px;
  font-weight: 900;
}
h2 {
  color: #4169E1;
  font-size: 24px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: chilanka;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
}
a:hover {
  color: black;
}

p {
  font-size: 24px;
  color: #4169E1;
}

img {
  border-radius: 25px;
}

ul {
  list-style: none;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

.container {
  text-align: center;
  background: white;
  margin: auto;
}

.card {
  background: lightblue;
  border-radius: 4px;
  margin: 16px;
  padding: 44px;
  box-shadow: 8px 16px #00CED1;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

